@import url("../../variables.css");

.btn {
  border-style: solid;
  border-radius: 10px;
  font-family: var(--main-font);
  opacity: 0.9;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
}

.min {
  min-width: 120px;
  height: 40px;
  font-size: 13px;
}

.min .btnContent img {
  width: 25px;
  height: 25px;
}

.large {
  min-width: 200px;
  height: 60px;
}

.large .btnContent img {
  width: 40px;
  height: 40px;
}

.primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.primary:hover {
  border: 1px solid var(--primary-color);
}

.primary:focus {
  outline: none;
}

.success {
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.success:hover {
  border: 1px solid var(--success-color);
}

.success:focus {
  outline: none;
}

.warning {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}

.warning:hover {
  border: 1px solid var(--warning-color);
}

.warning:focus {
  outline: none;
}

.danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}

.danger:hover {
  border: 1px solid var(--danger-color);
}

.danger:focus {
  outline: none;
}

.block {
  width: 100%;
}

.outlined {
  background-color: var(--opacity-mod);
}

.text {
  border: none;
  background-color: var(--opacity-mod);
}

.btnContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.btnContent img {
  width: 30px;
  height: 30px;
}
