@import url(../../variables.css);

.loader {
  margin: auto;
  border: 7px solid #eaf0f6;
  border-radius: 50%;
  border-top: 7px solid #393939;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.min {
  width: 10px;
  height: 10px;
  border-width: 5px;
  border-top-width: 5px;
}

.large {
  width: 15px;
  height: 15px;
}

.primary {
  border-top-color: var(--primary-color);
}

.danger {
  border-top-color: var(--danger-color);
}

.success {
  border-top-color: var(--success-color);
}

.warning {
  border-top-color: var(--warning-color);
}

.default {
  border-top-color: var(--default-color);
}
