:root {
    --primary-color: #6ea8fe;
    --success-color:#75b798;
    --danger-color:#ea868f;
    --warning-color:#ffda6a;
    --default-color: #858383;
    --main-font: cursive;
    --opacity-mod:rgba(0, 0, 0, 0);
}